ksiegarnia:before {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 200%;
    content: "Ksiegarnia";
    margin: -.75em 0px .25em -.25em;
    margin-top: 10px;
    padding: .1em .25em;
    background-color: #cdf;
    }
ksiazki:before {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 200%;
    content: "Ksiazki";
    margin: -.75em 0px .25em -.25em;
    margin-top: 10px;
    padding: .1em .25em;
    background-color: #cdf;
    }
ksiazki {
    display: block;
    margin: 2em 1em;
    border: 4px solid #cdf;
    padding: 0px 1em;
    background-color: white;
    }

ksiazka {
    display: block;
    margin-bottom: 1em;
    }
    
tytul {
    display: block;
    font-weight: bold;
    font-size: 150%;
    }
    
cena::before {
        content: "Cena: ";
        }
    
cena:after {
        content: ' ' attr(jednostkaCeny);
    }
autor::before {
        content: "Autor: ";
        }


opis::before {
        content: "Opis: ";
        }
    
ilosc::before {
        content: "Ilość: ";
        }

cena {
    display: block;
    }

    
autor {
    display: block;
    }
    
opis {
    display: block;
    }

ilosc {
    display: block;
    }
typyOkladek:before {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 200%;
    content: "Typy Okładek";
    margin: -.75em 0px .25em -.25em;
    margin-top: 10px;
    padding: .1em .25em;
    background-color: #cdf;
    }
typyOkladek {
    display: block;
    margin: 2em 1em;
    border: 4px solid #cdf;
    padding: 0px 1em;
    background-color: white;
    }
typOkladki{
        display: block;
    }
skrot::before{
        content: "Skrót: ";
    }
skrot{
        display: block;
        margin-bottom: 0.2em;
    }
nazwaTypu{
        display: block;
        margin-bottom: 0.4em;
    }
nazwaTypu::before{
        content: "Rozwinięcie: ";
    }

klienci:before {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 200%;
    content: "Klienci";
    margin: -.75em 0px .25em -.25em;
    margin-top: 10px;
    padding: .1em .25em;
    background-color: #cdf;
    }

klienci {
    display: block;
    margin: 2em 1em;
    border: 4px solid #cdf;
    padding: 0px 1em;
    background-color: white;
    }
    
klient {
    display: block;
    margin-bottom: 1em;
    }

koszyki:before {
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 200%;
    content: "Koszyki";
    margin: -.75em 0px .25em -.25em;
    margin-top: 10px;
    padding: .1em .25em;
    background-color: #cdf;
    }

koszyki {
    display: block;
    margin: 2em 1em;
    border: 4px solid #cdf;
    padding: 0px 1em;
    background-color: white;
    }
koszyk::before{
    display: block;
    width: 8em;
    font-weight: bold;
    font-size: 100%;
    margin: -.75em 0px .25em -.25em;
    margin-top: 10px;
    padding: .1em .25em;
    background-color: #cdf;
    content: attr(idKlienta) '';
}

produkt::before{
    content: 'Id produktu:' attr(id) ' Ilość w koszyku: ';
}
produkt {
    display: block;
    margin-bottom: 1em;
    }


koszyk {
    display: block;
    margin-bottom: 1em;
    }
